*.class
bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Testah Log Files
testah.properties
testah.log


# Gradle
.gradle
build/
.gradle/

# Groovy
.groovy
.settings

# eclipse
.classpath
.project


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
