<table>

    <tr>
        <td>
        <td class='chart'><img src='$GoogleChart' alt='Test Results'/>

        <h3>Summary Report:</h3>

            <table class='tc_table_1' border="1">
                <thead>
                <th>TestPlans</th>
                <th>TestCases</th>
                <th>Passed</th>
                <th>Failed</th>
                <th>Ignored</th>
                <th>Duration</th>
                </thead>
                <tbody>
                <tr>
                    <td>$totalTestPlans</td>
                    <td>$totalTestCases</td>
                    <td>$totalTestCasesPassed</td>
                    <td>$totalTestCasesFailed</td>
                    <td>$totalTestCasesIgnored</td>
                    <td>$util.getDurationPretty($totalDuration)</td>
                </tr>
                </tbody>
            </table>

        <h3>Detailed Report:</h3>

            <table class='tc_table_2' border="1">
                <thead>
                <th>TestPlan</th>
                <th>TestType</th>
                <th>Status</th>
                <th>Total</th>
                <th>Pass</th>
                <th>Fail</th>
                <th>Ignore</th>
                <th>html</th>
                <th>xml</th>
                <th>txt</th>
                <th>json</th>
                <th>Duration</th>
                </thead>
                <tbody>
                    #foreach( $result in $results )
                        #if( "$!result.getTestPlan()" != "" )
                            #set($link_json = "file:///$!result.getTestPlan().getRunInfo().getReportFilePath().get('json')")
                            #set($link_html = "file:///$!result.getTestPlan().getRunInfo().getReportFilePath().get('html')")
                            #set($link_txt = "file:///$!result.getTestPlan().getRunInfo().getReportFilePath().get('txt')")
                            #set($link_xml = "file:///$!result.getTestPlan().getRunInfo().getReportFilePath().get('xml')")
                        <tr>
                            <td class='label'>$result.getTestPlan().getName()</td>
                            <td class='label'>testah</td>
                            <td class='label' bgcolor='#if($result.getTestPlan().getStatusEnum()==
                                "PASSED")MediumSeaGreen#elseif($result.getTestPlan().getStatusEnum()==
                                "IGNORE")lightgray#{else}red#end'>$result.getTestPlan().getStatusEnum()</td>
                            <td class='value'>$result.getTestPlan().getRunInfo().getTotal()</td>
                            <td class='value'>$result.getTestPlan().getRunInfo().getPass()</td>
                            <td class='value'>$result.getTestPlan().getRunInfo().getFail()</td>
                            <td class='value'>$result.getTestPlan().getRunInfo().getIgnore()</td>
                            <td class='value'><a target='_blank' href="$link_html">html</a> </td>
                            <td class='value'><a target='_blank' href="$link_xml">xml</a></td>
                            <td class='value'><a target='_blank' href="$link_txt">txt</a></td>
                            <td class='value'><a target='_blank' href="$link_json">json</a> </td>
                            <td class='value'>$util.getDurationShort($result.getTestPlan().getRunTime().getDuration())</td>
                        #elseif( "$!result.getJunitResult()" != "" )
                        <tr>
                            <td class='label'>$result.getClassName()</td>
                            <td class='label'>junit</td>
                            #if( "$result.getJunitResult().wasSuccessful()" == "true" )
                                <td class='label' bgcolor='MediumSeaGreen'>PASSED</td>
                            #else
                                <td class='label' bgcolor='red'>FAILED</td>
                            #end
                            <td class='value'>$result.getJunitResult().getRunCount()</td>
                            #set($pass = $result.getJunitResult().getRunCount() - ($result.getJunitResult().getFailureCount() + $result.getJunitResult().getIgnoreCount()))
                            <td class='value'>$pass</td>
                            <td class='value'>$result.getJunitResult().getFailureCount()</td>
                            <td class='value'>$result.getJunitResult().getIgnoreCount()</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                        #elseif( "$!result.getTestExecutionSummary()" != "" )
                        <tr>
                            <td class='label'>$result.getClassName()</td>
                            <td class='label'>junit</td>
                            #set($ignored = $result.getTestExecutionSummary().getTestsSkippedCount() + $result.getTestExecutionSummary().getTestsAbortedCount())
                            #set($failed = $result.getTestExecutionSummary().getTestsFailedCount())
                            #set($passed = $result.getTestExecutionSummary().getTestsSucceededCount())
                            #set($started = $result.getTestExecutionSummary().getTestsStartedCount())
                            #if( "$ignored" == "$started" )
                                <td class='label' bgcolor='lightgray'>IGNORED</td>
                            #elseif( "$passed" == "$started" )
                                <td class='label' bgcolor='MediumSeaGreen'>PASSED</td>
                            #else
                                <td class='label' bgcolor='red'>FAILED</td>
                            #end
                            <td class='value'>$started</td>
                            <td class='value'>$passed</td>
                            <td class='value'>$failed</td>
                            <td class='value'>$ignored</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                            <td class='value'>n/a</td>
                        #end
                    </tr>
                    #end
                </tbody>
            </table>

        #if("$isRecordFilterKnownProblems" == "true" && ("$ignoredTestPlans.isEmpty()" == "false" || "$ignoredTestCases.isEmpty()" == "false"))
            <br><hr></br>
            <h3>Ignored/Filtered Tests</h3>
            To understand why a tests is filtered out, check the test code. Tests may be filtered out e.g. because of @KnownProblem annotation, runtime exclusion, etc.
            <br>
            Tests that are excluded a priori (e.g. @KnownProblem) do not appear in the 'Ignored' count in the report above, but are listed below.
            <br>
            Expand the node(s) below to see the list of ignored tests.
            <br><br>
            #if("$ignoredTestPlans.isEmpty()" == "false")
                <details>
                    <summary>
                        <b>Test Plans</b>
                    </summary>
                    <table class='tc_table_3' border="1">
                        <thead>
                        <th>Test Plan</th>
                        <th>Case Count</th>
                        </thead>
                        <tbody>
                            #foreach($ignoredTestPlan in $ignoredTestPlans)
                            <tr>
                                <td class='value'>$ignoredTestPlan.getKey()</td>
                                <td class='value'>$ignoredTestPlan.getValue()</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </details>
            #end
            #if("$ignoredTestCases.isEmpty()" == "false")
                <br>
                <details>
                    <summary>
                        <b>Test Cases</b>
                    </summary>
                    <table class='tc_table_4' border="1">
                        <thead>
                        <th>Test Case</th>
                        </thead>
                        <tbody>
                            #foreach($ignoredTestCase in $ignoredTestCases)
                            <tr>
                                <td class='value'>$ignoredTestCase</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </details>
            #end
        #end
        </td>
    </tr>


</table>
